* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-family: "Inconsolata", monospace;
}

body {
  background-color: #284b631a;
}

header {
  background-color: #fff;
  height: 80px;
}

header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
}

header #navbar .nav-brand {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(44, 3, 110);
}

header #navbar .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

header #navbar .nav-list .nav-item a {
  text-decoration: none;
  color: rgb(44, 3, 110);
  font-size: 20px;
  font-weight: 600;
}

header #navbar .nav-list .nav-item a:active {
  background-color: gold;
  text-decoration: underline;
  font-weight: 700;
}

header #navbar .nav-list .nav-item a:hover {
  text-decoration: underline;
}

header #navbar .menu-hamburger {
  display: none;
}

@media (max-width: 740px) {
  header #navbar .menu-hamburger {
    display: block;
  }

  header #navbar .nav-list {
    display: none;
  }

}

/* SECTION BANNER */

main {
  margin-top: 6rem;
}

main #banner {
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

main #banner .banner-content .banner-content-title {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}

main #banner .banner-content .banner-content-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 500px;
  margin-bottom: 38px;
}

main #banner .banner-content .banner-content-btn {
  background-color: rgba(44, 3, 110, 0.562);
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 2px;
  padding: 8px 24px;
  border: none;
}

main #banner .banner-content-img {
  border-radius: 52%;
  width: 100%;
  max-width: 340px;
  border: 0.5px solid black;
}

/* SECTION POSTS */

@media(max-width: 920px) {
  main #banner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  main #banner .banner-content {
    text-align: center;  }

}

section#posts {
  margin-top: 71px;
  background-color: #149dc71c;
}

#posts .posts-content {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

#posts .posts-content .posts-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

#posts .posts-content .posts-content-header .section-title {
  font-size: 22px;
  font-weight: 500;
}

#posts .posts-content .posts-content-header .view-all-link {
  text-decoration: none;
  color: #00a8cc;
  font-weight: 700;
}

#posts .posts-content .posts-content-header .view-all-link:active {
  background-color: gold;
  text-decoration: underline;
  font-weight: 900;
}

#posts .posts-content .posts-content-header .view-all-link:hover {
  text-decoration: underline;
}

#posts .posts-content .posts-cards {
  display: flex;
  gap: 20px;
}

#posts .posts-content .posts-cards .post-card {
  background-color: #fff;
  padding: 24px;
}

#posts .posts-content .posts-cards h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 37px;
}

#posts .posts-content .posts-cards span {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  display: block;
}

@media (max-width: 740px) {
  #posts .posts-content .posts-cards {
    flex-direction: column;
  }
}